<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="rts_map.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <rts_map.Properties.Settings>
            <setting name="AppLocale" serializeAs="String">
                <value>zh-TW</value>
            </setting>
            <setting name="AppTheme" serializeAs="String">
                <value>system</value>
            </setting>
            <setting name="ApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="ChartsEnabled" serializeAs="String">
                <value>True</value>
            </setting>
        </rts_map.Properties.Settings>
    </userSettings>
</configuration>