:root {
  --background: 285deg, 100%, 99%;
  --on-background: 240deg, 7%, 11%;
  --primary: 211deg, 100%, 37%;
  --on-primary: 0deg, 0%, 100%;
  --primary-container: 224deg, 100%, 92%;
  --on-primary-container: 216deg, 100%, 13%;
  --outline: 224deg, 5%, 48%;
  --surface-variant: 230deg, 24%, 90%;
  --on-surface-variant: 222deg, 7%, 29%;
}

select, input[type=password], input[type=number] {
  all: unset;
  outline: 1px solid hsl(var(--outline));
  padding: 4px 6px;
  border-radius: 6px;
  background-color: #25222E;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
}

select {
  padding-right: 22px;
  background-image:
    linear-gradient(45deg, transparent 50%, hsl(var(--outline)) 50%),
    linear-gradient(135deg, hsl(var(--outline)) 50%, transparent 50%);
    background-position:
    calc(100% - 12px) calc(50% + 2px),
    calc(100% - 8px) calc(50% + 2px);
    background-size:
    4px 6px,
    4px 6px;
    background-repeat: no-repeat;
  }
  
select:focus {
  background-image:
    linear-gradient(135deg, transparent 50%, hsl(var(--outline)) 50%),
    linear-gradient(45deg, hsl(var(--outline)) 50%, transparent 50%);
  background-position:
    calc(100% - 12px) 50%,
    calc(100% - 8px) 50%;
  }

select:not(:disabled):hover, input[type=password]:not(:disabled):hover, input[type=number]:not(:disabled):hover {
  outline-color: hsla(var(--outline), .8);
}

select:not(:disabled):focus, input[type=password]:not(:disabled):focus, input[type=number]:not(:disabled):focus {
  background-color: #3A3447;
  outline: 2px solid hsl(var(--primary));
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, .2);
}

select:disabled, input[type=password]:disabled, input[type=number]:disabled {
  background-color: #eee;
  outline: 1px solid #aaa;
  opacity: .4;
  cursor: not-allowed;
}

input[type=checkbox] {
  all: unset;
  position: relative;
  margin-right: 8px;
  height: 16px;
  border-radius: 4px;
  aspect-ratio: 1;
  border: 2px solid hsl(var(--outline));
  background-color: transparent;
  transition: background-color 50ms ease-in-out, border-color 50ms ease-in-out, opacity 50ms ease-in-out;
}

input[type=checkbox]:not(:disabled):not(:checked):hover {
  border-color: hsla(var(--outline), 0.6);
}

input[type=checkbox]:not(:disabled):active {
  opacity: .6;
}

input[type=checkbox]:disabled {
  opacity: .4;
  cursor: not-allowed;
}

input[type=checkbox]:checked {
  background-color: hsl(var(--primary));
  border-color: hsl(var(--primary));
}

input[type=checkbox]::before {
  position: absolute;
  content: "";
  width: 6px;
  margin: 9px 1px;
  border-bottom: 3px solid transparent;
  rotate: 45deg;
  transition: border-color 50ms ease-in-out;
}

input[type=checkbox]::after {
  position: absolute;
  content: "";
  width: 12px;
  margin: 7px 3px;
  border-bottom: 3px solid transparent;
  rotate: -45deg;
  transition: border-color 50ms ease-in-out;
}

input[type=checkbox]:checked::before, input[type=checkbox]:checked::after {
  border-color: #211E29;
}

input[type=checkbox]:focus-visible {
  outline: 2px solid var(--primary);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: 240deg, 7%, 11%;
    --on-background: 255deg, 7%, 89%;
    --primary: 220deg, 100%, 84%;
    --on-primary: 213deg, 100%, 20% ;
    --primary-container: 212deg, 100%, 28%;
    --on-primary-container: 224deg, 100%, 92%;
    --outline: 229deg, 5%, 58%;
    --surface-variant: 222deg, 7%, 29%;
    --on-surface-variant: 230deg, 11%, 79%;
  }
  
  ::-ms-reveal {
    filter: invert(100%);
  }
}