@font-face {
  font-family: "Google Sans";
  src: url("../resources/fonts/GoogleSans-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Google Sans";
  src: url("../resources/fonts/GoogleSans-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Noto Sans TC";
  src: url("../resources/fonts/NotoSansTC-Medium.otf") format("otf");
}

@font-face {
  font-family: "Consolas";
  src: url("../resources/fonts/Consolas.ttf");
}

html, body {
  margin: 0px;
  height: 100svh;
  width: 100svw;
  color: white;
  background-color: #1C1B1F;
  overflow: hidden;
  font-family: "Google Sans", "Noto Sans TC", sans-serif;
  font-variant-numeric: tabular-nums;
  user-select: none;
}

body {
  background-position: center;
  transition: background-position 5ms ease-in-out;
}

#app-container {
  height: 100%;
  width: 100%;
}

#app-container.has-bg {
  background-color: hsla(226, 10%, 4%, 0.859);
  backdrop-filter: blur(64px);
  transition: background-color 400ms ease-in-out;
}

body.blur #app-container.has-bg {
  background-color: hsla(226, 0%, 13%, 1);
}

main {
  display: flex;
}

#map-container {
  position: relative;
  -webkit-app-region: drag;
}

#map {
  height: 560px;
  width: 400px;
  overflow: hidden;
  pointer-events: none;
}

#map .station-marker {
  outline: 1px solid #49454F;
  border-radius: 8px;
}

#map .station-marker.has-data {
  outline-color: #938F99;
}

body.alert #map .station-marker.max {
  outline: 4px solid #ffffff;
  z-index: 10000 !important;
}

.leaflet-map-pane svg {
  z-index: 9999;
}

.leaflet-container {
  background-color: transparent;
}

#max-int {
	position: absolute;
  top: 16px;
  left: 16px;
	display: flex;
  visibility: hidden;
	height: 48px;
	width: 140px;
	align-items: center;
  color: #000;
	border: 4px solid #fff;
	border-radius: 48px;
  background-color: #000;
	overflow: hidden;
  z-index: 100000;
}

body.alert #max-int {
  visibility: visible;
}

#max-int .int-container {
	padding: 20px 10px;
	background-color: #fff;
}

#int-value {
	font-size: 40px;
	font-weight: bold;
  letter-spacing: -4px;
}

#int-scale {
	font-size: 20px;
  vertical-align: 1.4px;
}

#max-int .loc-container {
	display: flex;
	flex-direction: column;
	padding: 20px 8px;
	color: #fff;
}

#max-int .loc-container > span {
	line-height: 20px;
}

#time {
  position: fixed;
  left: 8px;
  bottom: 8px;
  color: #CAC4D0;
  font-family: "Consolas", monospace;
  z-index: 100000;
}

#legend {
  position: absolute;
  right: 6px;
  bottom: 6px;
  height: 274px;
  width: 14px;
  background: linear-gradient(360deg, #0500A3 2%, #00ceff 16%, #33ff34 30%, #fdff32 43%, #ff8532 57%, #fc5235 71%, #c03e3c 78%, #9b4544 86%, #9a4c86 93%, #b720e9 100%);
  border-radius: 4px;
  z-index: 100000;
}

.legend-marker {
  position: absolute;
  text-align: right;
  float: right;
  color: #938F99;
  right: 24px;
  font-size: 12px;
  line-height: 12px;
}

.legend-marker.hide {
  visibility: hidden;
}

.legend-marker::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid #938F99;
  margin: 2px;
  margin-left: 4px;
}

.legend-item {
  position: absolute;
  width: 12px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  letter-spacing: -2px;
  margin: 2px 0;
}

.legend-item.zero {
  bottom: -2px;
}

.legend-item.one {
  bottom: 33.14286px;
}

.legend-item.two {
  color: #000;
  bottom: 70.28571px;
}

.legend-item.three {
  color: #000;
  bottom: 107.42857px;
}

.legend-item.four {
  bottom: 144.57143px;
}

.legend-item.fivel {
  bottom: 181.71429px;
}

.legend-item.fiveh {
  bottom: 200.28571px;
}

.legend-item.sixl {
  bottom: 219.85714px;
}

.legend-item.sixh {
  bottom: 237.42857px;
}

.legend-item.fivel::after, .legend-item.sixl::after {
  content: "-";
  padding-left: 1px;
  vertical-align: 2px;
  font-size: 10px;
}

.legend-item.fiveh::after, .legend-item.sixh::after {
  content: "+";
  vertical-align: 2px;
  font-size: 10px;
}

.legend-item.seven {
  bottom: 256px;
}

.leaflet-stations-pane > canvas{
  z-index: 5000;
}

.chart {
  margin: 6px 4px 0 0;
  border-radius: 8px;
  overflow: hidden;
}

.chart:last-child {
  margin-bottom: 6px;
}

#settings {
  position: absolute;
  inset: 5%;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 0 512px 0 #000;
  background-color: #211E29;
  z-index: 90000000;
  opacity: 0;
  transition: opacity .1s ease-in-out;
  pointer-events: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

#settings.show {
  opacity: 1;
  pointer-events: all;
}

#settings.show + main {
  pointer-events: none;
}

#settings.show + main #map-container {
  -webkit-app-region: none;
  pointer-events: none;
}

#settings > .heading {
  margin: 8px;
  font-size: 20px;
  font-weight: 600;
}

#settings > .heading:not(:first-child) {
  margin-top: 12px;
}

#settings > .option {
  display: flex;
  margin: 8px;
}

#settings > .option > label {
  flex: 1;
}

@media (prefers-color-scheme: light) {
  html, body {
    color: #000;
    background-color: #FFFBFE;
  }

  #app-container.has-bg {
    background-color: hsla(216, 10%, 100%, 0.859);
  }

  body.blur #app-container.has-bg {
    background-color: hsla(216, 10%, 100%, 1);
  }

  #time {
    color: #49454F;
  }

  #map .station-marker {
    outline-color: #E7E0EC;
  }
  
  #map .station-marker.has-data {
    outline-color: #79747E;
  }

  body.alert #map .station-marker.max {
    outline-color: #000;
  }

  #max-int {
    color: #fff;
    border-color: #000;
    background-color: #fff;
  }

  #max-int .int-container {
    color: #fff;
    background-color: #000;
  }

  #max-int .loc-container {
    color: #000;
  }
}