:root {
  font-family: Inter, "Noto Sans TC", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-synthesis: none;
  font-variant-numeric: tabular-nums;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  position: fixed;
  inset: 0;
  margin: 0;
  background-color: color-mix(in lab, transparent, var(--p-surface-50) 64%);
  background-blend-mode: multiply;
  transition: background-color 0.1s ease-in-out;
  user-select: none;
}

#app {
  display: grid;
  grid-template-rows: 32px 1fr;
  width: 100svw;
  height: 100svh;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: color-mix(in lab, transparent, var(--p-surface-950) 64%);
  }
}
